@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) { 
    .content {
        display: block !important;
        max-width: fit-content;
        margin: 0 auto;
        gap: 4px;
    }

    .content img {
        width: max-content;
      }

    .cards {
        display: grid;
        grid-column: 1;
    }
}

.glass-card {
    background-clip: padding-box;
    backdrop-filter: blur(8px) saturate(100%) contrast(100%);
  }
  
  @media (prefers-color-scheme: dark) {
    .glass-card {
      box-shadow: 0 4px 30px rgba(112, 128, 144); /* Sombra mais escura */
      border: 1px solid rgba(255, 255, 255, 0.1); /* Borda para modo escuro */
    }
  }
  
  body {
    font-family: 'Rubik', sans-serif;
  }

  .sticky-title {
    position: sticky;
    top: 1rem;
    z-index: 10;
  }